
:root{
   --textColor: #000;
   --bg-color:#F5F5F5;
   --second-bg-color:#EBD96B
}

body{
   color: var(--textColor);
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   scroll-behavior: smooth;
}

.container{
   max-width: 1780px;
   margin: 0 auto;
   padding: 0 30px;
}

.title-2 {
   position: relative;
   display: inline-block;
	font-weight: 900;
	font-size: 48px;
	line-height: 1.04;
	letter-spacing: 0.06em;
}